body{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color:black;
}

.topMostContainer{
    background-color:#202020;
    width:30vw;
    height: 50vh;
    border-radius: 15px;
    display:flex;
    flex-direction:column;
    justify-content: space-around;
}

.topMostContainer:hover{
    border: 1px solid white;
}

.inputOutput{
    display:flex;
    justify-content:space-around;
}

#outputArea{
    width:180px;
    height:30px;
    background-color:white;
    border-radius: 10px;
}

#inputArea{
    width:180px;
    height:30px;
    background-color:white;
    border-radius: 10px;
}

.bodyoftheCalc{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    height:80%;
}